.card-img-top {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://adjameson.wordpress.com/wp-content/uploads/2019/06/marvel-vs-dc.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}
